{% extends "layout.html" %}

{% block title %}
MindScribe - Blog
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <a class="btn btn-primary mt-4 mb-4" href="{% url 'blog_create' %}">Create New Blog</a>
</div>


<div class = "container row gap-3">
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        {% comment %} <img src="{{blog.photo.url}}" class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
        <h5 class="card-title text-center">{{blog.user.username}}</h5>
        <hr>
        <p class="card-text">{{blog.text}}</p>
        {% if blog.user == user %}
        <a href="{% url 'blog_edit' blog.id%}" class="btn btn-primary">Edit</a>
        <a href="{% url 'blog_delete' blog.id%}" class="btn btn-danger">Delete</a>
        {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}